.computer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2.5vh 0 0;
    
}

.computer-turn {
    padding: 0.5vh 1.25vw;
    background-color: #3581B8;
    color: #F3F8F2;
    transition-duration: 0.5s;
    font-family: 'Roboto Slab', serif;
}

.computer-turn:hover {
    background-color: #DEEDF7;
    color: black;
}