.card-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35vh;
    background-color: lightseagreen;
    border: 5px outset darkgreen;
    margin: 1.5vh 1vw 1.5vh;
}

.handful-of-discarded-cards {
    align-self: center;
}

.handful-of-cards {
    display: flex;
    justify-content: center;
    font-family: 'Georama', sans-serif;
    font-size: 1.25em;
}

h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 18px;
}

.sets-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: .25vh 2vw 0;
    min-height: 16vh;
    border: 6px double red;
}

.first-set,
.second-set,
.third-set {
    display: flex;
    flex-direction: column;
}

.set-of-cards {
    display: flex;
    flex-direction: row;
}

.card {
    height: 90px;
    width: 55px;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vh 0;
}

.game-explanation__header {
    font-weight: bold;
    font-size: 0.85em;
    font-family: 'Roboto Slab', serif;
}

.game-explanation__bullets {
    font-size: 0.75em;
    font-style: italic;
    font-family: 'Georama', sans-serif;
}

.game-button {
    margin: 0 0.5vw;
    padding: 0.5vh 1.25vw;
    background-color: #3581B8;
    color: #F3F8F2;
    transition-duration: 0.5s;
}

.game-button:hover {
    background-color: #DEEDF7;
    color: black;
}